body{
	background-color: #cbeaf5;
	font-family: Lato;
	margin: 0;
}
*:focus{
	outline: 0;
}
/***************************************************************************/
/*************************** TEMP CONTROLS ***************************/
/***************************************************************************/
p{
	width: 440px;
	line-height: 2;
}
#pbottom{
	margin-bottom: 100px;
}
#debt_sizing, #sources{
	display: block;
	float: left;
	clear: both;
	margin-bottom: 20px;
}
/*#sources{
	margin-left: 2px;
}*/
#uses{
	clear: both;
	margin-bottom: 20px;
}
/***************************************************************************/
/*************************** NAV HEADER ************************************/
/***************************************************************************/
#subNav{
    position: fixed;
    top: 49px;
    width: 100%;
    height: 40px;
    color: #d1d2d4;
    background: #231f20;
    z-index: 999;
}
.navTab{
	display: inline-block;
    width: calc(24% - 1px);
    text-align: center;
    vertical-align: middle;
    height: 29px;
    padding-top: 11px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.navTab:hover{
	background-color: #1696d2;
	color: white;
}
/***************************************************************************/
/*************************** TEXT STYLES ***********************************/
/***************************************************************************/
h1{
	color: #1696d2;
	font-size: 36px;
	margin-bottom: 0px;
	margin-top: 150px;
}

/***************************************************************************/
/*********************** SPACING AND LAYOUT ********************************/
/***************************************************************************/
#noi, #debt_sizing, #uses, #sources, h1, p{
	margin-left: 60px;
}
section.step{
	margin-bottom: 300px;
}

/***************************************************************************/
/*************************** SCROLLING *************************************/
/***************************************************************************/

/***************************************************************************/
/******************************** BUILDINGS ********************************/
/***************************************************************************/

.building{
	position: fixed;
	bottom: 30px;
	right: 30;
	font-family: Lato;
	color: white;
	vertical-align: middle;
	text-align: center;
	/*background-color: #1696d2;*/
	width: 176px;
	/*border: 2px solid #ccc;*/
	/*float: right;*/
	z-index: 9;
}
.shadow_gap{
	position: absolute;
	max-height: 5px;
	min-height: 0px;
	border: none;
	background-color: rgba(0,0,0,.1);
	width: 178px;
	z-index: 20;
}
.total_building, .built_building{
	position: absolute;
	bottom: 0px;
}
.total_building{
	width: 176px;
	border: 1px solid #73bfe2;
	z-index: 12;
}
.built_building{
	width: 178px;
	background-color: #1696d2;
	z-index: 11;
}
.roof_img{
	position: absolute;
    bottom: 0px;
    left: -21px;
    z-index: 12;
}
#roof_100, #roof_50 {
	position: absolute;
	z-index: 1;
	background-color: #1696d2;
/*    border-top: 67px solid transparent;
    border-bottom: 0px solid #1696d2;
    border-left: 35px solid transparent;
    border-right: 42px solid transparent;*/
    height: 0px;
    width: 220px;
    left: -19px;
}

.i_bar_top, .i_bar_bottom{
	background-color: #000;
	height: 3px;
	width: 19px;
	position: absolute;
	z-index: 13;
}
.i_bar_container{
	margin-left: 9px;
}
.i_bar{
	position: absolute;
	width: 3px;
	margin-left: 6.5px;
	background-color: #000;
	z-index: 15;
}
.gap_container{
	position: absolute;
	width: 144px;
	height: 64px;
	left: 16px;
	color: #fff;
	background-color: #000;
	z-index: 109;
}
.gap_label{
	font-size: 16px;
	font-weight: normal;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.gap_amount{
	font-size: 19px;
    font-weight: bold;
    float: left;
    clear: both;
    margin-left: 9px;
    margin-top: 2px;
}
.balcony{
	position: absolute;
	left: -25px;
}

.windows{
	position: absolute;
	z-index: 15;
}
.windows_bottom{
	bottom: -2;
}
.windows_roof{
	margin-left: -22px;
}

#building_container_50{
	clear: both;
	right: 30px;
}
#building_container_100{
	clear: both;
	right: -350px;
}
/***************************************************************************/
/******************************** BACKGROUND *******************************/
/***************************************************************************/
#ground_container div{
	position: fixed;
	left: 0;
	width: 100%;
	background-repeat: repeat-x;
	opacity: 0;
}
#dirt{
	background-image: url('../images/dirt.jpg');
	height: 79;
	bottom: 0;
	z-index: 2;
}
#road{
	background-image: url('../images/road.jpg');
	height: 37;
	bottom: 0;
	z-index: 2;
	z-index: 4;
}
#sidewalk{
	background-image: url('../images/sidewalk.png');
	height: 37;
	bottom: 35;
	z-index: 4;
}
#grass{
	background-image: url('../images/grass.jpg');
	height: 37;
	z-index: 2;
	bottom: 30;
	z-index: 3;
}

/***************************************************************************/
/*************************** DASHBOARD CONTROLS ***************************/
/***************************************************************************/
.header{
	display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 20px;
}
#header_50{
    margin-left: 376px;
    margin-right: 31px;
    font-size: 16px;
}
#header_100{
	font-size: 16px;
}
.control_container{
	display: block;
}
.control_container label{
	display: inline-block;
	width: 270px;
}
.control_container .control.range{
	width: 80px;
}
.control_container .control.text{
	width: 50px;
}
.control_container.new_source{
	margin: 3px 0 3px 0px;
}
#click_to_add_sources{
    text-transform: uppercase;
    color: white;
    background-color: #1696d2;
    font-style: normal;
    cursor: pointer;
    width: 200px;
    padding: 13px;
    margin-top: 10px;
}
.s50_label, .s100_label, .s50_noi_label, .s100_noi_label, .s50_blank_label, .s100_blank_label{
	display: inline-block;
	margin-left: 20px;
	width: 84px;
    text-align: right;
}
.s100_blank_label{
	width: 100%;
}
.other_source.other{
	display: inline-block;
	margin-left: 20px;
	width: 84px !important;
}
.control_container.debt, .control_container.noi, .control_container.new_source{
	font-style: italic;
}
#debt_label, #noi_label{
	width: 412px;
	float: left;
}
input.new_source_label{
	width: 262px;
    margin-right: 150px;
    text-align: left !important;
    font-size: 16px !important;
    background-color: #cbeaf5 !important;
    border-bottom: 1px solid #a2d4ec !important; 
    font-style: italic;
}
.control_container.noi, .control_container.debt{
	margin-bottom: 5px;
}
#noi_label{
	text-indent: 383px;
}
#bracket_noi{
	position: relative;
    margin-left: 160px
}
#debt_sizing{
	margin-top: -56px;
}

#debt_label{
	text-indent: 151px;
}
#bracket_debt{
	position: relative;
    margin-left: 160px
}
#sources{
	margin-top: -75px;
}


/***************************************************************************/
/************************ CROSS BROWSER RANGE INPUT ************************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #cbeaf5;
    height: 18px;
    background-color: transparent;
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    margin-top: -4px;
    cursor: pointer;
}
input[type=range]:focus {
    outline: 0;
}
input::-moz-focus-inner{
	outline: 0;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #353535;
    outline: none;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid #cbeaf5;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #9d9d9d;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #9d9d9d;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #353535;
}
input[type=range]:focus::-ms-fill-upper {
    background: #353535;
}

/***************************************************************************/
/********************************* TEXT INPUT ******************************/
/***************************************************************************/
input[type=text]{
	font-family: Lato;
	font-family: Lato;
    border: none;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    background-color: #f5f5f5
}
input.text.invalid{
	color: #db2b27;
}