body{
	background-color: #aaa;
	font-family: Lato;
}
.building{
	font-family: Lato;
	color: white;
	vertical-align: middle;
	text-align: center;
	background-color: #1696d2;
	width: 150px;
	border: 2px solid #ccc;
	float: left;
	margin-left: 10px;
}


/***************************************************************************/
/*************************** DASHBOARD CONTROLS ***************************/
/***************************************************************************/

.control_container{
	display: block;
}
.control_container label{
	display: inline-block;
	width: 170px;
}
.control_container .control.range{
	width: 80px;
}
.control_container .control.text{
	width: 50px;
}