body{
	background-color: #cbeaf5;
	font-family: Lato;
}
*:focus{
	outline: none;
}
/***************************************************************************/
/*************************** TEMP CONTROLS ***************************/
/***************************************************************************/
#debt_sizing, #sources{
	display: block;
	float: left;
	margin-bottom: 20px;
}
#sources{
	margin-left: 2px;
}
#uses{
	clear: both;
	margin-bottom: 20px;
}
.building{
	position: fixed;
	bottom: 30px;
	right: 30;
	font-family: Lato;
	color: white;
	vertical-align: middle;
	text-align: center;
	/*background-color: #1696d2;*/
	width: 176px;
	/*border: 2px solid #ccc;*/
	/*float: right;*/
	margin-left: 10px;
}
.shadow_gap{
	position: absolute;
	max-height: 5px;
	min-height: 0px;
	border: none;
	background-color: rgba(0,0,0,.1);
	width: 178px;
	z-index: 10;
}
.total_building, .built_building{
	position: absolute;
	bottom: 0px;
}
.total_building{
	width: 176px;
	border: 1px solid #73bfe2;
	z-index: 2;
}
.built_building{
	width: 178px;
	background-color: #1696d2;
	z-index: 1;
}
.roof_img{
	position: absolute;
    bottom: 0px;
    left: -21px;
    z-index: 2;
}
#roof_100, #roof_50 {
	position: absolute;
	z-index: 1;
	background-color: #1696d2;
/*    border-top: 67px solid transparent;
    border-bottom: 0px solid #1696d2;
    border-left: 35px solid transparent;
    border-right: 42px solid transparent;*/
    height: 0px;
    width: 220px;
    left: -19px;
}

.i_bar_top, .i_bar_bottom{
	background-color: #000;
	height: 3px;
	width: 19px;
	position: absolute;
	z-index: 3;
}
.i_bar_container{
	margin-left: 9px;
}
.i_bar{
	position: absolute;
	width: 3px;
	margin-left: 6.5px;
	background-color: #000;
	z-index: 5;
}
.gap_container{
	position: absolute;
	width: 144px;
	height: 64px;
	left: 16px;
	color: #fff;
	background-color: #000;
}
.gap_label{
	font-size: 16px;
	font-weight: normal;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
.gap_amount{
	font-size: 19px;
    font-weight: bold;
    float: left;
    clear: both;
    margin-left: 9px;
    margin-top: 2px;
}
.balcony{
	position: absolute;
	left: -25px;
}

.windows{
	position: absolute;
	z-index: 5;
}
.windows_bottom{
	bottom: -2;
}
.windows_roof{
	margin-left: -22px;
}


#building_container_50{
	clear: both;
	right: 256px;
}
#arrow{
    display: block;
    float: left;
    font-size: 50px;
    margin-top: 40px;
}
#junk_bracket{
	display: block;
    float: left;
    margin-top: 40px;
}

/***************************************************************************/
/*************************** DASHBOARD CONTROLS ***************************/
/***************************************************************************/

.control_container{
	display: block;
}
.control_container label{
	display: inline-block;
	width: 270px;
}
.control_container .control.range{
	width: 80px;
}
.control_container .control.text{
	width: 50px;
}
.control_container.new_source{
	margin: 3px 0 3px 0px;
}
#click_to_add_sources{
	text-transform: uppercase;
	color: white;
	background-color: #1696d2;
	font-style: normal;
	cursor: pointer;
}
.s50_label, .s100_label, .s50_noi_label, .s100_noi_label, .s50_blank_label, .s100_blank_label{
	display: inline-block;
	margin-left: 20px;
	width: 84px;
    text-align: right;
}
.other_source.other{
	display: inline-block;
	margin-left: 20px;
	width: 84px !important;
}
.control_container.debt, .control_container.noi, .control_container.new_source{
	font-style: italic;
}
#debt_label, #noi_label, .new_source_label{
	width: 412px;
	float: left;
}
input.text.invalid{
	border-color: red;
}